body {
    background-color: #ccc;
}

em {
    color: red;
}

h1 {
    text-align: center;
}

#banner {
    width: 100%;
    border-radius: 35px;
}

#barba{
    list-style-type: none;
    font-size: 15px;
    width:25%;
    margin-left: 60px;
    vertical-align: 65px;
    border-radius: 35px;
}

#cabelo{
    list-style-type: none;
    font-size: 15px;
    width:25%;
    margin-top: -54px;
    margin-left: 60%;
    vertical-align: 65px;
    border-radius: 35px;
}

h2 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(229, 226, 226);
    border-radius: 35px;
}

.rodape a{
    display: flex;
    align-items: center;
}

.rodape{
    margin-left: 35%;
    font-family: "poppins", sans-serif;
    list-style-type: none;
    font-size: 23px;
    display: flex;
    width: 100%;
    vertical-align: 65px;
    border-radius: 35px;
}
.rodape li{
    display: inline;
    margin-right: 2%;
}
.rodape a {
    transition: all .5s ease;
    cursor: pointer;
}
.rodape a:hover{
    transform: translateY(-5px);
    color: red;
}

.imgBarba {
    margin-left: 10px;
    width: 45%;
    border-radius: 35px;
}

.imgCabelo {
    margin-left: 100px;
    width: 35%;
    border-radius: 35px;
}

.conjunto {
    list-style-type: none;
    background-color: rgb(134, 129, 129);
    border-radius: 100%;
}

.imgBarba2 {
    margin-top: 2%;
    margin-left: 30%;
    width: 20%;
    border-radius: 35px;
}

.imgCabelo2 {
    margin-left: 3%;
    width: 16%;
    border-radius: 35px;
}

#precoConjunto {
    margin-top: 0%;
}

header {
    text-align: center;
    background-color: rgb(229, 226, 226);
    padding: 20px;
    border-radius: 35px;
}

header ul a{
    color: rgb(168, 161, 161);
    text-decoration: none;
}
.beneficios h2 {
    font-family: "montserrat", sans-serif;
}